<form method='POST' action="/article/new">
  <p>Article title: <input type="text"name="article_title" id="article_title"/></p>
  <p>Article Content: <input type="text" name="article_content" id-="article_content"/></p>
  <input type="submit" />
</form>